.hero-section{
    position: relative;
}
video{
    width:100%;
}
.video-header{
    position:absolute;
    top:5%;
    left:10%;
    font-size:50px;
    font-family:"Jacques Francois Shadow";
}
.main-details{
    width:100%;
    display:flex;
    flex-direction:column;
    row-gap:20px;
    padding:50px 80px;
}
.main-details .details{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.main-details .details h1{
    margin:20px 0;
    font-size:30px;
    color:red;
    font-family:"Jacques Francois Shadow";
}
.main-details .details p{
    font-size:18px;
    font-weight:300;
}


@media(max-width:900px){
    .main-details{
        padding:50px 25px; 
    }
    .video-header{
        font-size:30px;
    }
}
