.footer-section{
    width:100%;
    background-image: url("../../../Assets/footer-image.jpg");
    background-size:cover ;
    background-position: center;
}

.footer-section-shade{
    padding:50px 80px 0px 80px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap:20px;
    background:rgba(0,0,0,0.8);
    color:#fff;

}
.footer-div{
    width:100%;
    display:flex;
    justify-content: space-between;
    row-gap:25px;
}

.footer-box{
    display:flex;
    flex-direction: column;
    row-gap:20px;
}
.footer-box h3{
    font-size:20px;
    color:aquamarine;
}
.footer-box p{
    cursor: pointer;
    font-weight:500;
}

.footer-section .copy-right{
    padding:10px 0;
    text-align:center;
}


@media(max-width:900px){
    .footer-section-shade{
        padding:50px 30px;
    }
    
    .footer-div{
        flex-direction: column;
    }
}